@font-face {
    font-family: 'vazir-thin';
    src: url('../fonts/vazirmatn/Vazirmatn-RD-Thin.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'vazir-extra-light';
    src: url('../fonts/vazirmatn/Vazirmatn-RD-ExtraLight.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'vazir-light';
    src: url('../fonts/vazirmatn/Vazirmatn-RD-Light.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'vazir-regular';
    src: url('../fonts/vazirmatn/Vazirmatn-RD-Regular.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'vazir-medium';
    src: url('../fonts/vazirmatn/Vazirmatn-RD-Medium.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'vazir-semi-bold';
    src: url('../fonts/vazirmatn/Vazirmatn-RD-SemiBold.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'vazir-bold';
    src: url('../fonts/vazirmatn/Vazirmatn-RD-Bold.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'vazir-extra-bold';
    src: url('../fonts/vazirmatn/Vazirmatn-RD-ExtraBold.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'vazir-black';
    src: url('../fonts/vazirmatn/Vazirmatn-RD-Black.woff2') format('woff2');
    font-style: normal;
}
